<h5>Admin::Orders#show</h5>

<h3>注文履歴詳細</h3>

<table>
  <tr>
    <th>購入者</th>
    <td></td>
  </tr>
  <tr>
    <th>注文日</th>
    <td></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td></td>
  </tr>
  <tr>
    <th>支払方法</th>
    <td></td>
  </tr>
  <tr>
    <th>注文ステータス</th>
    <td></td>
  </tr>
</table>