//Bootstrap導入のため記述
@import '~bootstrap/scss/bootstrap';


// 顧客のログインのfieldの幅調整
.w-120 {
  display: inline-block;
  width: 120px;
}


// Topの画像
.mt-1 {
  position: relative;
}

// Topの画像の位置調整
.text {
  position: absolute;
  top: 5%;
  left: 20%;
}

.pagination {
  display: flex;
  text-align:center;
  margin:0 auto;

}

// .pagination {
//   justify-content: center;
// }

// .pagination {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }

// .search-box {
//   display:flex;
//   text-align:right;
//   // justify-content:flex-end;
// }