//Bootstrap導入のため記述
@import '~bootstrap/scss/bootstrap';

// fontawesome導入のため記述
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


// 顧客のログインのfieldの幅調整
.w-120 {
  display: inline-block;
  width: 120px;
}

// Topの画像
.mt-1 {
  position: relative;
}

// Topの画像の位置調整
.text {
  position: absolute;
  top: 5%;
  left: 20%;
}


// .container {
//   position: relative;
// }

.pagination {
  display: flex;
  text-align:center;
  margin:0 auto;
  // position: absolute;
  // bottom: 0%;
  // left: 50%;
  // position: relative, absoliteは親要素に対しての位置。だから親要素外にもっていくのは無理
  // よってページネーションを下部固定する際、.containerに対してやってみたりしたが、それはうまくいかなかった。
}
